@mixin circle {
    &::before{
        content: '';
        display: block;
        position: absolute;
        background-color: $base-color;
        border-radius: 100%;
        height: 36px;
        width: 36px;
        top: -30%;
        left: 0;
        z-index: -1;
    }
}
@mixin circle-pulse {
    &::before{
        content: '';
        display: block;
        position: absolute;
        background-color: $base-color;
        border-radius: 100%;
        height: 36px;
        width: 36px;
        top: -30%;
        left: 0;
        z-index: -1;
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}