.skills {
    overflow: hidden;
    &__item {
        transition: all 0.5s;
        transform: translateY(100%) scale(0);
        opacity: 0;
        &_animation {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }
    &__rating {
        &-item {
            transition: all 1s;
            opacity: 0;
            transform: translate(100%, -200%);
            &_animation {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }
}